@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewContext.ViewData["Title"] = "Index";
}
<h1>Index</h1>
<h1>Hello @ViewContext.ViewData["name"]. Widok index kontrolera Get</h1>